@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: inherit;
}

html {
	font-size: 10px;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: "Noto Sans Japanese", sans-serif;
	line-height: 1;
	color: #333;
}
input,
select,
option,
textarea{
	font-family: "Noto Sans Japanese", sans-serif;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
textarea{
	overflow: auto;
}
input::-ms-expand,
select::-ms-expand,
option::-ms-expand,
textarea::-ms-expand {
	display: none;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

img {
	border-style: none;
}

ol,
ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
	transition: opacity .3s ease-in-out;
}

a:hover {
	opacity: .7;
}

a:active,
a:hover {
	outline-width: 0;
}

.clearfix::after {
	content: "";
	clear: both;
	display: block;
}
